* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    border: none;
    color: inherit;
}

ul, ol, li {
    list-style: none;
}

a, button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --background: #fff;
    --bubble: #eee;
    --text: #000;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--background);
    color: var(--text);
}